/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #007BFF;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
  }
  
  header p {
    margin-top: 10px;
    font-size: 18px;
  }
  
  main {
    padding: 40px;
  }
  
  #features ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  #features li {
    flex-basis: 300px;
    padding: 20px;
    text-align: center;
  }
  
  #features img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  #features h3 {
    font-size: 24px;
  }
  
  #features p {
    font-size: 16px;
    color: #777;
  }
  
  #download {
    margin-top: 40px;
    text-align: center;
  }

  #features .first{
    width:100px;
    height:100px;
}
  
#features .middle{
    width:100px;
    height:100px;
}
#features .last{
    width:100px;
    height:100px;
}